
.header{
    display: flex;
    align-items: center;
    padding: 34px 9.1% 0 3.5%;
}
.header.header_home{
    padding: 34px 9.1% 0 9.1%;
}
.wrapper{
    padding: 0 9.1%;
}
.header-logo{
    width: 209px;
    margin-right: 60px;
}
.header_home.header .header-phone{
    position: static;
}
.header-logo__img{
    width: 209px;
}
.header_home .header-logo{
    display: block;
    position: absolute;
    top: 173px;
    z-index: 10;
    width: 268px;
}
.header_home .header-logo .header-logo__img{
    width: 268px;
}
.header .header-phone{
    position: absolute;
    right: 9%;
}
.catalog-modal .header .header-logo{
    width: 209px;
}
.btn-catalog{
    position: fixed;
    display: flex;
    align-items: flex-end;
    left: 0;
    top: 0;
    width: 8.5%;
    border: solid 1px #757e8f;
    height: 100vh;
    cursor: pointer;
    transition: width 0.3s;
    background: #3d4a62;
    z-index: 1;
    overflow: hidden;
}

.btn-catalog::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#15bacc;
    transition: width 0.3s;
}

.btn-catalog:hover::before{
    width: 100%;
    transition: width 0.3s;
}

.btn-catalog:hover .btn-catalog__icon-g{
    stroke: #FFF;
    transition: 0.3s;
}

.btn-catalog__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-catalog_text{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 17px;
    color: #fff;
}

.down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    z-index: 1;
}
.logo-btn{
    display: block;
    position: absolute;
    left: -100%;
    top: 24px;
    transform: translate(-50%, 0);
    transition: 0.3s;
}
.logo-btn.open{
    left: 50%;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 550px;
}

.nav-link{
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    padding: 11px 0;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.nav-link:hover{
    color: #92c8f9;
    transition: 0.3s;
}
.dropdown-btn:hover .nav-link{
    color: #92c8f9;
    transition: 0.3s;
}
.dropdown-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-item:hover .dropdown-btn__arrow g{
    fill: #92c8f9;
}
.dropdown-btn__arrow{
    margin-left: 10px;
}
.menu-right__btn:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.nav-item{
    margin-right: 56px;
}

// .nav-item:nth-child(3),
// .nav-item:nth-child(6){
//     margin-right: 0;
// }

.menu-right{
    display: block;
    position: fixed;
    right: 2.5%;
    top: 36px;
    z-index: 1;
}

.menu-right__btn{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.header_home{
    justify-content: space-between;
}

.header-phone__link{
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none;
}

.btn__phone-modal{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    color: #fff;
    margin-top: 10px;
    text-align: right;
    border-bottom: 1px dashed #fff;
    width: max-content;
    cursor: pointer;
    transition: 0.3s;
}
.btn__phone-modal:hover{
    border: none;
    transition: 0.3s;
}
.header-phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    box-shadow: 0 25px 23px 10px rgba(0, 0, 0, 0.41);
    border: solid 1px #757e8f;
    background: #49556b;
    padding: 9px 7px;
    z-index: 10;
}

.dropdown-link{
    display: flex;
    width: 200px;
    height: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.dropdown-link:hover{
    background: rgba(255, 255, 255, 0.11);
}

.dropdown-btn{
    position: relative;
}

.dropdown-btn:hover .dropdown{
    display: block;
}

.btn-catalog__icon-close{
    display: none;
}
.down.hidden{
    display: none;
}
.header-logo__min{
    display: none;
}
.header-phone__icon{
    display: none;
}
.slash.none{
    display: none;
}
.breadcrumb__link.none{
    display: none;
}
.breadcrumb__link{
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}
.breadcrumb__link:hover{
    opacity: 0.7;
    transition: opacity 0.3s;
}
.title__block{
    display: block;
    padding: 70px 9.1% 44px 9.1%;
}
.title__block .title-main{
    margin-top: 23px;
    margin-bottom: 0;
}
.slash{
    display: block;
    font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin: 0 10px;
  letter-spacing: -1.3px;
}
.triger{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    z-index: -1;
    opacity: 0;
}